{% load static i18n %}
<div class="pt-10 pb-8 mt-2 bg-gray-300 text-center align-middle">
    <p class="text-4xl font-bold">What is PARTS MARKETS?</p>
    <p>안정적인 설비 운영을 위해 예비품의 확보는 필수지만</p>
    <p>사고의 예측은 어렵고, 설비 개선에 따른</p>
    <p>불용품이 발생할 수밖에 없습니다.</p>
    <p>이런 불용품을 폐품 처분하는 것은 매몰비용을 </p>
    <p>유발하고 자원을 낭비합니다. </p>
</div>
<div class="flex mt-4 text-center align-middle">
    <div class="w-1/3">
        <img class="w-1/3 mx-auto" src="{% static 'img/warehouse.png' %}">
        <p class="mt-2 text-xl font-bold text-blue-600">Solve obsolete parts</p>
        <p class="mx-2 lg:mx-20 mt-2 text-base">창고에 있는 미사용 부품을 시장에 공개하여 판매 기회를 찾아보세요.</p>
    </div>
    <div class="w-1/3">
        <img class="w-1/3 mx-auto" src="{% static 'img/planet-earth.png' %}">
        <p class="mt-2 text-xl font-bold text-blue-600">Save the Earth</p>
        <p class="mx-2 lg:mx-20 mt-2 text-base">환경을 지키기 위한 또 하나의 방법. 불용 부품이 재사용될 수 있습니다.</p>
    </div>
    <div class="w-1/3">
        <img class="w-1/3 mx-auto" src="{% static 'img/spare-parts.png' %}">
        <p class="mt-2 text-xl font-bold text-blue-600">Chance to buy rare parts</p>
        <p class="mx-2 lg:mx-20 mt-2 text-base">단종된 부품이 어디에서는 악성 재고로 남아 있을 수 있습니다.</p>
    </div>
</div>