{% load static%}
<div class="flex items-center justify-between h-full">

    <a href="/"><img class="h-8" src="{% static 'img/logo.png' %}"></a>
    <ul class="flex h-full">
        <li class="nav_link"><a href="{%url 'virtualpools:virtualpool'%}">Virtual Pool</a></li>
        <li class="nav_link"><a href="{%url 'partsmarkets:partsmarket'%}">Parts Market</a></li>
        <li class="nav_link"><a href="#">Community</a></li>
    </ul>
    <ul class="flex item-center text-sm font-medium h-full">
        {% if user.is_authenticated %}
        <li class="nav_link"><a href="{%url 'core:logout'%}">Log out</a></li>
        {% else %}
        <li class="nav_link"><a href="{%url 'core:login'%}">Log in</a></li>
        <li class="nav_link"><a href="{%url 'core:signup'%}">Sign up</a></li>
        {% endif %}
    </ul>
</div>