{% load static%}
<div class="container flex items-center h-full">

    <a href="/" class="w-1/6"><img class="w-20" src="{% static 'img/logo.png' %}"></a>
    <ul class="flex w-2/3 h-full justify-center">
        <li class="nav_link"><a href="{%url 'virtualpools:virtualpool'%}">Virtual Pool</a></li>
        <li class="nav_link"><a href="{%url 'partsmarkets:partsmarket'%}">Parts Market</a></li>
        <li class="nav_link"><a href="#">Community</a></li>
    </ul>
    <ul class="flex w-1/6 h-full justify-end text-sm font-medium">
        {% if user.is_authenticated %}
        <li class="nav_link"><a href="{{user.get_absolute_url}}">Profile</a></li>
        <li class="nav_link"><a href="{%url 'core:logout'%}">Log out</a></li>
        {% else %}
        <li class="nav_link"><a href="{%url 'core:login'%}">Log in</a></li>
        <li class="nav_link"><a href="{%url 'core:signup'%}">Sign up</a></li>
        {% endif %}
    </ul>
</div>