{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block page_name %}{% endblock page_name %} | One-Parts
    </title>
</head>

<body class="container flex flex-col">
    {% include 'partials/messages.html' %}
    <header class="container h-16 items-center flex fixed top-0 border-b border-gray-400  bg-white">
        {% include "partials/nav.html" %}

    </header>
    <div class="min-h-75vh mt-16">

        {% block search-form %}
        {% endblock search-form %}

        {% block content %}
        {% endblock content %}

    </div>
    <footer class="container border-t border-gray-400 font-medium text-gray-500 text-center">
        {% include "partials/footer.html" %}
    </footer>
</body>

</html>