{% extends 'base.html' %}
{% load static i18n %}
{% block page_name %}
Edit
{% endblock page_name %}

{% block content %}
<div class="w-1/2 mx-auto my-4">

    <p class="text-2xl text-center">{{stockinfo.my_stock.name}}</p>
    <p class="text-1xl text-center">{{stockinfo.my_stock.model_name}}</p>
    <p class="text-lg text-right">{{stockinfo.my_stock.maker}}</p>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn-link mt-2">submit</button>
    </form>
    <div class="text-center mt-2">
        <button class="w-full py-3 border border-gray-500 rounded-lg bg-gray-500 text-white"
            onClick="location.href='{% url 'virtualpools:detail' stockinfo.pk %}'">Back</button>
    </div>
</div>
{% endblock content %}