{% extends 'base.html' %}

{% block page_name %}
Stock Detail
{% endblock page_name %}

{% block search-form %}
{% include 'mixins/search_form.html' with menu="Virtual Pool" %}
{% endblock search-form %}

{% block content %}

<div class="container flex w-1/2 h-75vh">
    <div class="flex flex-col items-center justify-evenly w-1/3 p-4 font-bold">
        <span>Manufacturer</span>
        <span>Product</span>
        <span>Model</span>
        <span>Number of My Stock</span>
        <span>Available Stocks</span>
    </div>
    <div class="flex flex-col justify-evenly w-2/3 p-4 ">
        <span class="truncate">{{stockinfo.my_stock.maker}}</span>
        <span class="truncate">{{stockinfo.my_stock.stock_name}}</span>
        <span class="truncate">{{stockinfo.my_stock.model_name}}</span>
        <span class="truncate">{{stockinfo.num_stock}}</span>
        <span class="truncate">{{stockinfo.my_stock.total_stock}}</span>
    </div>
</div>





{% endblock content %}