{% extends 'base.html' %}

{% block page_name %}
Virtual Pool
{% endblock page_name %}

{% block search-form %}
<div class="flex items-center">
    <div class="w-1/2">
        <form class="p-3 w-4/5" action="{%url 'virtualpools:virtualpool'%}" method="get">
            <input class="search-box placeholder-gray-600" type="text" name="search" id="search"
                placeholder="Search in Virtual Pool" value={{input}}>
        </form>
    </div>
    <div class="w-1/2 flex justify-end">
        <a href="{%url 'virtualpools:create'%}" class="h-full p-3 rounded-lg border border-blue-400 ">Register Part</a>
    </div>
</div>
{% endblock search-form %}

{% block content %}

<table class="container">
    <thead>
        <tr class="w-full border-b">
            <th class="w-1/12">
                <p>STOCK</p>
            </th>
            <th class="w-4/12">
                <p>NAME</p>
            </th>
            <th class="w-4/12">
                <p>MODEL</p>
            </th>
            <th class="w-3/12">
                <p>MANUFAC.</p>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for info in object_list %}
        <tr class="cursor-pointer border-b" onClick="location.href='/virtualpool/{{info.pk}}'">
            <td class="text-center">
                <p>{{info.num_stock}} / {{info.my_stock.total_stock}}</p>
            </td>
            <td class="px-1 py-1">
                <p>{{info.my_stock.name}}</p>
            </td>
            <td class="px-1 py-1">
                <p>{{info.my_stock.model_name}}</p>
            </td>
            <td class="text-center">
                <p>{{info.my_stock.maker}}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'mixins/pagination.html' with page_obj=page_obj %}

{% endblock content %}