{% extends 'base.html' %}

{% block page_name %}
home
{% endblock page_name %}

{% block search-form %}
<form action="{% url "virtualpools:virtualpool"%}" method="get">
    <input type="text" name="search" id="search" value={{input}}>
    <button>submit</button>
</form>
{% endblock search-form %}

{% block content %}

{% for info in object_list %}
<h1>{{info.owner}} / {{info.my_stock.stock_name}} / {{info.my_stock.total_stock}}</h1>
{% endfor %}
<h6>
    {% if page_obj.has_previous %}
    <a href="?{%if input%}search={{input}}&{%endif%}page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
    <a href="?{%if input%}search={{input}}&{%endif%}page={{page_obj.next_page_number}}">Next</a>
    {% endif %}


</h6>

{% endblock content %}