{% extends 'base.html' %}

{% block page_name %}
Update Profile
{% endblock page_name %}


{% block content %}
<div>

</div>
<div class="md:w-2/5 mx-auto my-32 text-center border border-gray-500 p-4">
    {% include 'mixins/auth/auth_form.html' with form=form cta="Update profile" %}
    <div class="mt-5">
        <a href="{% url 'users:password' %}" class="text-teal-500 font-medium">Change Password</a>
    </div>
</div>
<div>
    <input type="text" id="email" value="{{object.email}}"><button onclick="verify()">인증</button>


</div>
{% endblock content %}

{% block script %}
<script>
    function verify() {
        if (confirm("test") == false) {
            return false;
        }
        var new_email = document.getElementById("email").value
        fetch('verify_email', {
            method: "POST",
            body: new_email,
            headers: { "Content-type": "application/json; charset=UTF-8" },
        }).then(
            function (response) {
                if (response.status !== 200) {
                    console.log('Error');
                    return;
                }
                response.json().then(function (data) {
                    console.log(data.email)
                });
            }
        )
            .catch(function (err) {
                console.log("Verification Error :-S", err);
            })
    }

</script>
{% endblock script %}