{% extends 'base.html' %}

{% block page_name %}
Update Profile
{% endblock page_name %}


{% block content %}
<div>

</div>
<div class="md:w-2/5 mx-auto my-32 text-center border border-gray-500 p-4">
    {% include 'mixins/auth/auth_form.html' with form=form cta="Update profile" %}
    <div class="mt-5">
        <a href="{% url 'users:password' %}" class="text-teal-500 font-medium">Change Password</a>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}