{% extends 'base.html' %}

{% block page_name %}
Virtual Pool
{% endblock page_name %}

{% block search-form %}
<div>
    <form class="p-3 w-2/5" action="{%url 'partsmarkets:partsmarket'%}" method="get">
        <input class="search-box placeholder-gray-600" type="text" name="search" id="search"
            placeholder="Search in Parts Market" value={{input}}>
    </form>
</div>
{% endblock search-form %}

{% block content %}
<div>
    <h1>상품명 / {{product.product_name}}</h1>
    <h3>판매자 / {{product.seller}}</h3>
</div>
{% endblock content %}