{% extends 'base.html' %}

{% block page_name %}
Parts Market
{% endblock page_name %}

{% block search-form %}
<form action="{% url 'partsmarkets:partsmarket'%}" method="get">
    <!--검색키워드를 검색입력창에 남기기 위해 input context를 받아사용한다-->
    <input type="text" name="search" id="search" placeholder="Search in Parts Market" value={{input}}>
    <button>submit</button>
</form>
{% endblock search-form %}
{% block content %}

{% for product in object_list %}
<h1>
    <a href="{% url 'partsmarkets:detail' product.pk%}">
        {{product.product_name}} / {{product.maker}}
    </a>
</h1>
{% endfor %}
<h6>
    {% if page_obj.has_previous %}
    <a href="?{%if input%}search={{input}}&{%endif%}page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
    <a href="?{%if input%}search={{input}}&{%endif%}page={{page_obj.next_page_number}}">Next</a>
    {% endif %}


</h6>

{% endblock content %}