{% extends 'base.html' %}

{% block page_name %}
Parts Market
{% endblock page_name %}

{% block search-form %}
<div>
    <form class="p-3 w-2/5" action="{%url 'partsmarkets:partsmarket'%}" method="get">
        <input class="search-box placeholder-gray-600" type="text" name="search" id="search"
            placeholder="Search in Parts Market" value={{input}}>
    </form>
</div>
{% endblock search-form %}

{% block content %}
<div class="flex flex-wrap">
    {% for product in object_list %}
    {% include 'mixins/product_card.html' with product=product %}
    {% endfor %}
</div>

{% include 'mixins/pagination.html' with page_obj=page_obj %}

{% endblock content %}